@using RAPC9Y_SOF_2023241.MVC.Models
@model Champion

@{
    string bg = $"/championicons/{Model.Name}.jpg";
    string nobg = $"/championicons/{Model.Name}1.jpg";
}

<div class="content">
    <div class="profileName">
        <h1>@Model.Name</h1>
    </div>
    <div class="swiper">
         <div class="swiper-slide" style="background-image: url('@Url.Action("GetImage", "Champion", new {Id = Model.Id})')">
         </div>
         </div>
    <div class="myTable">
        <div>
            <table>
                <tr>
                    <td>Gender</td>
                    <td>@Model.Gender</td>
                </tr>
            </table>
            <hr />
        </div>
        <div>
            <table>
                <tr>
                    <td>Resources</td>
                    <td>@Model.Resources</td>
                </tr>
            </table>
            <hr />
        </div>
        <div>
            <table>
                <tr>
                    <td>Region</td>
                    <td>@Model.Region.RegionName</td>
                </tr>
            </table>
            <hr />
        </div>
        <div>
            <table>
                <tr>
                    <td>Release date</td>
                    <td>@Model.Release</td>
                </tr>
            </table>
        </div>
    </div>
    <a href="/champion/update?id=@Model.Id" class="btn fourth">Update</a>
</div>